* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
}

.parent {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
