.box {
  height: 100px;
  width: 100px;
  background: red;
}
.page1 {
  height: 100vh;
  width: 100%;
  background: #000;
}
.page2 {
  height: 100vh;
  width: 100%;
  background: #666;
}

.page3 {
  height: 100vh;
  width: 100%;
  background: #999;
}
