* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: blueviolet;
  width: 300px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 10px solid red;
}
